a, a:hover {
  text-decoration: unset;
  color: #000;
}

p, label {
  margin: 0;
}

body {
  font-family: Open Sans,sans-serif;
}

input:not([type="radio"]) {
  height: 50px;
  display: block;
  padding: 0 15px;
  @media screen and (min-width: $mobile-end) and (max-width: $tablet) {
    height: 40px;
  }
  &::placeholder {
    color: $clr-90;
  }
}

hr {
  margin: 0;
}

button {
  position: relative;
  padding: 0 15px;
  border-radius: 5px;
  height: 50px;
  @media screen and (min-width: $mobile-end) and (max-width: $tablet) {
    height: 40px;
  }
  cursor: pointer;
  @include font-bold;
  &.btn-primary {
    @include mix-btn($clr-primary, $clr-white);
  }
  &.btn-secondary {
    @include mix-btn($clr-secondary, $clr-primary);
  }
  &.btn-primary-alt {
    @include mix-btn($clr-primary-alt, $clr-white);
  }
  &.btn-facebook {
    @include mix-btn($clr-fb, $clr-white);
  }
  &.btn-google {
    @include mix-btn($clr-white, $clr-black);
    border: 1px solid #909090;
  }
  &.btn-form {
    @include mix-btn($clr-white, $clr-black);
    @include font-regular;
    border: 1px solid #909090;
    text-align: left;
    &.with-icon {
      padding: 0 45px;
    }
    &:not(:disabled) {
      &:hover, &:active, &:focus {
        border: 1px solid #909090;
        background-color: unset;
        color: unset;
        box-shadow: unset;
      }
    }
  }
}

.main-container {
  padding: 0 65px;
  @media screen and (min-width: $tablet-end) and (max-width: $tablet) {
    padding: 0 25px;
  }
  @media screen and (min-width: $mobile-end) and (max-width: $mobile) {
    padding: 0 15px;
  }
}
.full-container {
  margin: 0 -65px;
  padding: 0 65px;
  @media screen and (min-width: $tablet-end) and (max-width: $tablet) {
    margin: 0 -25px;
    padding: 0 25px;
  }
  @media screen and (min-width: $mobile-end) and (max-width: $mobile) {
    margin: 0 -15px;
    padding: 0 15px;
  }
}
.secondary-container {
  padding-left: 80px;
  padding-right: 80px;
  @media screen and (min-width: $tablet-end) and (max-width: $tablet) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media screen and (min-width: $mobile-end) and (max-width: $mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.bgn-secondary {
  background: $clr-secondary;
}

.desktop-elm {
  @media screen and (min-width: $mobile-end) and (max-width: $tablet) {
    display: none !important;
  }
}
