a, a:hover {
  text-decoration: unset;
  color: #000;
}

p, label {
  margin: 0;
}

body {
  font-family: Open Sans,sans-serif;
}

input:not([type="radio"]) {
  height: 50px;
  display: block;
  padding: 0 15px;
  &::placeholder {
    color: $clr-90;
  }
}

hr {
  margin: 0;
}

button {
  padding: 0 15px;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  @include font-bold;
  &.btn-primary {
    @include mix-btn($clr-primary, $clr-white);
  }
  &.btn-secondary {
    @include mix-btn($clr-secondary, $clr-primary);
  }
  &.btn-primary-alt {
    @include mix-btn($clr-primary-alt, $clr-white);
  }
  &.btn-facebook {
    @include mix-btn($clr-fb, $clr-white);
  }
  &.btn-google {
    @include mix-btn($clr-white, $clr-black);
    border: 1px solid #909090;
  }
}

.main-container {
  padding: 0 65px;
}
.full-container {
  margin: 0 -65px;
  padding: 0 65px;
}
.secondary-container {
  padding-left: 80px;
  padding-right: 80px;
}
.bgn-secondary {
  background: $clr-secondary;
}
