$clr-primary: #0a315f;
$clr-primary-alt: #ff7900;
$clr-primary-dark: #062043;
$clr-primary-light: #208ae5;
$clr-secondary: #eff9ff;
$clr-white: #FFF;
$clr-black: #000;
$clr-grey: #606060;
$clr-placeholder: #f1edeb;
$clr-60: #606060;
$clr-90: #909090;
$clr-fb: #3b5998;
